.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: auto;
    align-content: start
}

.item {
    flex: 0 0 auto;
    margin: 10px;
    height: 150px;
    width: 150px;
}


img {
    width: 150px;
    height: 150px;
}
.fade-move {
    animation-name: fadeMove;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeMove {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}

.img-container {
    position: relative;
}

    .img-container .top {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }